@import "tailwindcss";

:root {
    font-size: 16px;
}

svg {
    width: auto;
    height: 1em;
    vertical-align: -0.125em;
}

.card {
    @apply border-gray-500 rounded-md border bg-white;
}

.card:not(.no-padding) {
    @apply p-8;
}

html.large .max-w-content {
    @apply max-w-screen-lg;
}

html .max-w-content {
    @apply max-w-screen-md;
}
